<!--
Welcome to Sepocatch ICP v6.

Author: DKoTechnology

╔═══╦╗╔═╗─╔════╗────╔╗───────╔╗──────────╔═══╦════╦╗─╔╦═══╦══╦═══╦═══╗
╚╗╔╗║║║╔╝─║╔╗╔╗║────║║───────║║──────────║╔═╗║╔╗╔╗║║─║╠╗╔╗╠╣╠╣╔═╗║╔═╗║
─║║║║╚╝╝╔═╩╣║║╠╩═╦══╣╚═╦═╗╔══╣║╔══╦══╦╗─╔╣╚══╬╝║║╚╣║─║║║║║║║║║║─║║╚══╗
─║║║║╔╗║║╔╗║║║║║═╣╔═╣╔╗║╔╗╣╔╗║║║╔╗║╔╗║║─║╠══╗║─║║─║║─║║║║║║║║║║─║╠══╗║
╔╝╚╝║║║╚╣╚╝║║║║║═╣╚═╣║║║║║║╚╝║╚╣╚╝║╚╝║╚═╝║╚═╝║─║║─║╚═╝╠╝╚╝╠╣╠╣╚═╝║╚═╝║
╚═══╩╝╚═╩══╝╚╝╚══╩══╩╝╚╩╝╚╩══╩═╩══╩═╗╠═╗╔╩═══╝─╚╝─╚═══╩═══╩══╩═══╩═══╝
                                        ╔═╝╠═╝║
──────────────────────────────────╚══╩══╝

Main header.
-->
<!doctype html>
<html class="mdui-theme-dark">
<head>
    <title>SepocatchICP v6 - <?php echo $title?></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/mdui@2/mdui.css">
    <script src="https://unpkg.com/mdui@2/mdui.global.js"></script>
    <link rel="stylesheet" href="./templates/default/default.css">
</head>
<body>
    