<div class="container">
    <h1 style="color: white;">Sepocatch 备案系统</h1>
    <p style="color: white;">备案须知</p>
    <p style="color: white;">网站内容不包含：商业/政治/色情/灰色/版权/破解/企业类</p>
        
    <p style="color: white;">非空壳网站，能长期存活和更新</p>
    <p style="color: white;">无违反道德公序良俗</p>
    <p style="color: white;">已启用 HTTP over TLS</p>
    <p style="color: white;">允许来自各地的 IP 访问</p>
    <p style="color: white;">会按要求完成正确的对接</p>

    <mdui-button variant="elevated" style="margin-top: 27px; width: 200px;" href="/join.php?page=2">继续</mdui-button>
</div>